<div class="contenedor-principal">
  <div class="contenedor"></div>
  <div class="contenedor">
    <div class="row">
      <div class="col-lg-4"> </div>
      <div class="col-lg-4", id="iniciar_sesion"> <%= link_to "INICIAR SESION", new_user_session_path, :class=>"btn btn-default" %></div>
      <div class="col-lg-4"> </div>
    </div>
    <div class="row">
      <div class="col-lg-4"> </div>
      <div class="col-lg-4", id="registro"> <%= link_to "REGISTRARSE", new_user_registration_path, :class=>"btn btn-default"%></div>
      <div class="col-lg-4"> </div>
    </div>

  </div>
  <div class="contenedor"></div>

</div>
